
#m-blog{
  box-sizing: border-box;
  color: #fff;
  background-color: #212121;
  //去浮动
  .clearfix:before,.clearfix:after{
    display:table;
    content:"";
  }
  .clearfix:after{
    clear:both;
  }
  .clearfix{
    *zoom:1;
  }
  #blog-main {
    margin: 0 auto;
    width: 1521px;
    border: 1px solid #34343a;
    #blog-header {
      padding-top: 80px;
      height: 120px;
      position: relative;
      #loge {
        display: block;
        position: absolute;
        left: 48px;
        top: 14px;
      }
      #nav {
        position: absolute;
         left: 740px;
         top: 0;
         width: 720px;
         li {
           width: 120px;
           height: 81px;
           float: left;
           text-align: center;
           line-height: 81px;
           cursor: pointer;
           a{
             font-size: 13px;
             color: #fff;
           }
         }
        #list{
          width: 120px;
          height: 5px;
          position: absolute;
          top:76px;
          left: 0;
          background-color: #fff;
        }
       }
      #comment {
        height: 40px;
        border-top: 1px solid #535353;
        border-bottom: 1px solid #535353;
        padding-left: 45px;
        line-height: 40px;
      }
    }
    #blog-content {
      overflow: hidden;
      padding: 0 165px 50px 165px;
      font-size: 14px;
      line-height: 21px;
      #content-left {
        float: left;
        width: 790px;
        margin-right: 9px;
        h1 {
          height: 87px;
          line-height: 87px;
          font-size: 30px;
        }
        #banner{
          overflow: hidden;
        }
        .note {
          height: 40px;
          font-size: 12px;
          color: #bfbfbf;
          line-height: 15px;
          padding-bottom: 25px;
          .time {
            margin-right: 75px;
          }
        }
        #text1 {
          padding: 45px 0;
          h2 {
            height: 70px;
            font-size: 26px;
            line-height: 70px;
          }
        }
        #imgs {
          padding-top: 40px;
          width: 588px;
          height: 276px;
          position: relative;
          overflow: hidden;
          .opimg{
            opacity: 0.2;
            filter:alpha(opacity=50);
          }
          #show{
            position: absolute;
            li{
              float: left;
              margin-right: 10px;
              width: 186px;
              height:186px;
              overflow: hidden;
            }
          }
        }
      }
      #content-right {
        float: left;
        width: 390px;
        padding-top: 52px;
        h1 {
          height: 112px;
          border-radius: 10px;
          background-color: #a0a0a0;
          text-align: center;
          line-height: 112px;
          margin-bottom: 27px;
        }
        #message {
          li{
            padding: 0 25px 18px 14px;
            border-bottom: 1px solid #535353;
            font-size: 14px;
            line-height: 20px;
            h2{
              height: 40px;
              font-size: 16px;
              line-height: 40px;
              color: #d8d8d8;
            }
            .ids {
              color: #686868;
            }
            .text2{
              padding-top: 5px;
            }
            .icon {
              padding-left: 170px;
              i {
                display: inline-block;
                padding-right: 8px;
              }
              span{
                cursor: pointer;
              }
              .red{
                color: red;
              }
              .icon1 {
                padding-right: 10px;
              }

            }

          }
        }
        #discuss{
          padding-left: 14px;
          i{
            display: inline-block;
            padding-left: 10px;
          }
          #more{
            position: relative;
            height: 56px;
            text-align: right;
            line-height: 16px;
            padding: 15px 40px 25px 0;
            i{
              position: absolute;
              right: 0;
              top: 5px;
              font-size: 40px;
            }
          }
          input,textarea {
            border: none;
            display: inline-block;
            background-color: #333333;
          }
          #theme{
            width: 318px;
            height: 22px;
            margin-bottom: 12px;
            margin-top: 15px;
          }
          #details{
            width: 318px;
            height: 100px;
            margin-bottom: 15px;
          }
          #put{
            position: relative;
            padding-bottom: 20px;
            input{
              width: 72px;
              height: 20px;
              position: absolute;
              left: 240px;
              color: #fff;
              cursor: pointer;
          }
          }
        }
      }
    }
    #blog-footer{
      position: relative;
      #split{
        height: 102px;
        border-top: 1px solid #535353;
        border-bottom: 1px solid #535353;
      }
      #f-content{
        height: 267px;
        background: url("../img/blog/footer.jpg") no-repeat 1200px 0;
        padding: 57px 165px 17px 165px;
        font-size: 14px;
        line-height: 30px;
        overflow: hidden;
        i{
          display: inline-block;
          padding-right: 8px;
        }
        .awesome{
          font-size: 30px;
          padding-right: 15px;
        }
        #f-c-1{
          float: left;
          margin-right: 90px;
        }
        #f-c-2 {
          float: left;
            span {
              color: red;
            }
            .hint {
              display: inline-block;
            }
            .text3 {
              border: none;
              display: inline-block;
              border-bottom: 1px solid #535353;
              background-color: #212121;
              width: 150px;
              height: 25px;
            }
            input:nth-of-type(3) {
              width: 380px;
            }
            input:nth-of-type(4) {
              text-align: center;
              background: #fff;
              color: #000;
              display: inline-block;
              width: 70px;
              height: 30px;
              margin-top: 20px;
            }
        }
      }
      #hide{
        display: block;
        position: absolute;
        right: 30px;
        bottom: 50px;
        font-size: 25px;
        cursor: pointer;
      }
      #copyright{
        color: #aaaaaa;
        font-size: 10px;
        text-align: center;
        line-height: 10px;
        padding-bottom: 25px;
        padding-top: 10px;
      }
    }
  }
}